node_modules
npm-debug*
.bundle
.vagrant
scripts

# image server config
config/production.yml
config/staging.yml

# Capistrano
config/deploy*
Capfile

log/*log

# local test images we don't want to commit
images/seg*
images/hs*
images/moon*
images/Palais*
public/trumpler*
public/seg*
public/hs*
public/moon*
public/Palais*
public/67352ccc-d1b0-11e1-89ae-279075081939*
